* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'IBM Plex Serif', serif;
    font-size: 24px;
}

#app {
    height: 100vh;
    width: 100%;
    margin: 0 auto;
    background-color: #3a3a3a;
    overflow: hidden;
    transition: background-color 10s;
}

.boxes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}


.row { /* jQuery */
    display: flex;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(400px / 6);
    height: calc(400px / 6);
    background-color: white;
    border-radius: 4px;
    margin: 2px;
    cursor: pointer;
}

.green {
    color: white;
    background-color: darkgreen;
}

.yellow {
    color: #5C5C5C;
    background-color: khaki;
}

/* Effects */
.rotate {
    animation: rotation .2s linear;
    animation-iteration-count: 30;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
        box-shadow: 0px 2px 50px #5C5C5C;
    }
    100% {
        transform: rotate(360deg);
        box-shadow: 0px 2px 50px #5C5C5C;
    }
}

.tremolo {
    animation: quake .1s linear 7;
}

@keyframes quake {
    0% {
        transform: translate(0,0)
                   rotate(0deg);
    }
    33% {
        transform: translate(3px,-3px)
                   rotate(-2deg);
    }
    66%{
        transform: translate(-3px,3px)
                   rotate(2deg);
    }
}

.hinge {
    animation: hinge 2s;
    animation-iteration-count: 1;
}

.get-down {
    transform: translateY(6000px);
}

.ajax {
    position: fixed;
    height: 100vh;
    width: 100%;
    transform: scale(0);
    background-image: url('../img/ajax-2.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    z-index: 2;
}

.ease {
    transform: scale(.8);
    transition: transform 30s ease-in-out;
}

.box.white {
    transition: background-color 10s,
                color 10s;
    background-color: white;
    color: white;
}

#app.white {
    background-color: white;
}

.text {
    position: fixed;
    right: 29%;
    bottom: 16%;
    width: 240px;
    text-align: right;
    word-wrap: break-word;
    font-weight: 800;
}